<%- include('partials/header', { 
    pageTitle: 'Sobre economIAble', 
    pageDescription: 'Descubre la misión y el propósito de economIAble, un espacio de análisis sobre el impacto de la inteligencia artificial en la economía.' 
}) %>

<h2 class="list-main-title">Sobre economiable</h2>

<div class="static-content">
     <p>
        La inteligencia artificial ya está presente en muchas de las decisiones que tomamos, Afecta a cómo trabajamos, nos informamos, consumimos o nos relacionamos. Este blog nace con el propósito de observar y entender esa transformación: qué está ocurriendo, por qué y hacia dónde puede llevarnos.
    </p>
	 <h3>¿Qué hacemos?</h3>
	<p>
        <strong>Analizamos las implicaciones tecnológicas desde distintos puntos de vista que incluyen; la economía, los modelos de negocio, la sociedad y el comportamiento humano.</strong> Ofrecemos ideas útiles y enfoques prácticos para aprovechar la tecnología de la IA, y para adaptarse a los cambios que va a provocar.
    </p>
	
    <p>
        Cada publicación trata de dar contexto, identificar tendencias y platenar reflexiones o dar a conocer herramientas que puedan servir para mejorar el contexto en el que se toman las decisiones sobre como aprovechar el potencial de la inteligencia artificial, ya sea en el ámbito personal, profesional o empresarial.
    </p>

    <h3>Nuestra Misión</h3>
    <p>
        Este blog es para ti si te interesa:
    </p>
    <ul>
        <li><strong>Analizar:</strong> Analizar el impacto de la inteligencia artificial.</li>
        <li><strong>Explorar:</strong> Explorar cómo cambia el mundo en ámbitos tan comunes como la empresa, el trabajo, el consumo, la educación, .. Y muchos más.
</li>
        <li><strong>Conocer:</strong> Conocer ideas, ejemplos y recursos para aprovechar la inteligencia artificial de forma práctica.</li>
		<li><strong>Reflexionar:</strong> Reflexionar sobre los retos  y los cambios ecnómicos y sociales provocados por la implantación de la inteligencia artificial.
    </ul>
    <p>
        Gracias por acompañarnos en este viaje de descubrimiento.
    </p>
	 <p>
        <strong>NOTA:</strong> Los contenidos se actualizan constantemente, generando nuevos artículos o actualizando los existentes.
    </p>
</div>

</main>

<%- include('partials/footer') %>

</body>
</html>